:root {
  --global-color-background: #282d32;
  --global-color-white: #fff;
  --global-color-black: #333;
  --global-color-yellow: #face02;
  --global-color-brawndo: #7eaa41;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.content {
  background-color: var(--global-color-background) !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--global-color-background);
}

a:hover {
  text-decoration: none;
}

header {
  background-color: var(--global-color-background);
  background-image: url(/static/assets/images/mtndew.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
p,
label,
a {
  font-family: "Open Sans", sans-serif;
  color: var(--global-color-white);
}

.id_description {
  color: var(--global-color-black);
}

form {
  color: var(--global-color-black);
}

/* ############################################ */
/* NavBar */
/* ############################################ */

.navbar {
  margin-bottom: 0;
}

.navbar-brand img {
  width: auto;
  max-height: 40px;
  margin: -12px 5px 0 0;
}

.navbar-brand {
  padding: 15px 15px;
}

.navbar .nav {
  padding-top: -4px;
  margin-right: -16px;
  float: right;
}

.nav > li {
  float: left;
  margin-top: 15px;
  font-size: 25px;
}

.nav > li a:hover {
  background: transparent;
}

.nav-link {
  color: var(--global-color-white);
}

.navbar-toggle {
  margin: 12px;
  border: 0px;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  background-color: #00000080;
  width: 26px;
}

.navbar-collapse.in {
  overflow-y: visible;
  float: left;
  width: 100%;
}

.navbar-1 {
  float: right;
  color: red;
}

.site-navigation:first-child {
  float: left;
}

.site-navigation:nth-child(2) {
  float: right;
}

.site-navigation:nth-child(2) a {
  color: #ccc;
  font-size: 85%;
  padding-right: 0px;
}

.site-navigation .nav > .active {
  color: #ff0000;
}

/* ############################################ */
/* Carousel */
/* ############################################ */

.container {
  margin-top: 20px;
}

.carousel-indicators .active {
  background-color: var(--global-color-background);
}

.carousel-inner img {
  width: 100%;
  max-height: 460px;
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  margin-left: 15px;
}

.carousel-control.right span {
  margin-right: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.header-text {
  position: absolute;
  top: 30%;
  left: 1.8%;
  right: auto;
  width: 96.666%;
  color: var(--global-color-white);
}

.header-text h2 {
  font-size: 6em;
  font-weight: bold;
  padding: 10px;
  color: var(--global-color-white);
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: var(--global-color-white);
  background-color: transparent;
  border-color: var(--global-color-white);
  margin-right: 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.btn-theme:hover {
  color: var(--global-color-white);
  background-color: transparent;
  border-color: var(--global-color-white);
}

/* ############################################ */
/* Mobile adjustments */
/* ############################################ */

@media (max-width: 770px) {
  .bloc {
    text-align: center;
    -webkit-background-size: auto 200%;
    -moz-background-size: auto 200%;
    -o-background-size: auto 200%;
    background-size: auto 200%;
  }

  .navbar .nav {
    padding-top: 0;
    border-top: 1px solid #00000033;
    float: none !important;
  }
  .nav > li {
    margin-top: 0;
    border-bottom: 1px solid #0000001a;
    background: #0000000d;
    text-align: left;
    width: 100%;
  }

  .nav > li:hover {
    background: #00000014;
  }

  .navbar-collapse {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn.pull-left,
  .btn.pull-right {
    float: none !important;
  }

  .bloc-xl,
  .bloc-lg {
    padding: 40px 0;
  }

  .a-block {
    text-align: center;
  }
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .gedf-card {
    margin-bottom: 2.77rem;
  }
}

/* ############################################ */
/* Games */
/* ############################################ */

.card-title {
  font-size: 3rem;
}

.post-feed {
  font-size: 3rem;
  color: var(--global-color-white);
}

#post-feed-title {
  color: var(--global-color-yellow) !important;
  font-size: 2rem;
}

#post-feed-platform {
  color: var(--global-color-yellow) !important;
  font-size: 2rem;
}

#post-feed-user {
  color: var(--global-color-white) !important;
  font-size: 2rem;
}

.card-subtitle {
  font-size: 2rem;
}

.game-feed {
  font-size: 4rem;
  color: var(--global-color-white);
}

.gamr-card {
  text-align: center;
}

#gamr {
  font-size: 3rem;
}

#gamr-count {
  font-size: 2rem;
}

.game-search {
  float: left !important;
}

.game-info-template {
  margin: auto;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.post-date {
  color: var(--global-color-white);
  font-size: 1.5rem;
}

.game-title-detail {
  font-size: 8rem;
  font-weight: bold !important;
  color: var(--global-color-yellow) !important;
}

.platform-detail-title {
  color: var(--global-color-brawndo) !important;
}

#id_platform_choice_field {
  color: var(--global-color-black);
}

.game-detail {
  color: var(--global-color-white) !important;
  font-size: 3.5rem;
  word-wrap: break-word !important;
  text-align: center;
}

#game-tab {
  font-size: 5rem;
}

#game-feed-title {
  color: var(--global-color-yellow) !important;
  font-size: 2rem;
}

.game-info-container {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3rem;
}

.add-game-form-container {
  background-image: url(/static/assets/images/tronish.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3rem;
  color: var(--global-color-black);
}

.add-game-title {
  font-size: 6rem;
  color: var(--global-color-yellow) !important;
  text-align: center;
}

#id_description {
  color: var(--global-color-black);
  width: 100%;
  font-size: 2rem;
}

#id_platform {
  color: var(--global-color-black);
  font-size: 2rem;
}

/* ############################################ */
/* Posts */
/* ############################################ */

.post-detail-template {
  color: var(--global-color-white) !important;
  margin: auto;
  padding: 10px;
  font-size: 3rem;
  text-align: center;
  word-wrap: break-word !important;
}

.comment-title {
  text-align: center;
  color: var(--global-color-yellow);
}

.comments-title-1 {
  font-size: 2.5rem;
}
.by {
  font-size: 2rem;
}
#id_game {
  color: var(--global-color-black) !important;
}

#id_text {
  color: var(--global-color-black) !important;
  width: 100%;
}

#id_platforms {
  color: var(--global-color-black) !important;
}

.comment-container {
  color: var(--global-color-white) !important;
  text-align: center;
  font-size: 3rem;
}

.comment-text {
  color: var(--global-color-white) !important;
}

.card-body {
  color: var(--global-color-white);
}

.login-here {
  color: var(--global-color-yellow);
}

.game-post {
  font-size: 2rem !important;
  color: var(--global-color-yellow) !important;
}

.landing-games-list {
  color: var(--global-color-yellow) !important;
}

.author {
  color: var(--global-color-yellow);
}

.post-text {
  font-size: 3rem;
  text-align: center;
}

.date {
  font-size: 1.5rem;
}

.signup-here {
  color: var(--global-color-brawndo);
}

.game-feed-li {
  color: var(--global-color-white);
  font-size: 3rem;
}

.posts-div-2 {
  text-align: center !important;
}

/* ############################################ */
/* Online User List */
/* ############################################ */

.user-list-title {
  font-size: 6rem;
  color: var(--global-color-white);
  margin: 0px;
  text-align: center;
}

.all-users {
  color: var(--global-color-yellow);
  font-size: 3rem;
}

.user-list-container {
  margin: 0px;
  text-align: center;
}

.online-users {
  font-size: 4rem;
  color: var(--global-color-background);
  margin: 0px;
}

/* ############################################ */
/* PROFILE PAGE */
/* ############################################ */

.profile {
  margin: 0;
}

.profile-sidebar {
  text-align: center;
  background-color: #c2932e !important;
}

.porifle-desc-text {
  word-wrap: break-word;
}

#profile-hero {
  background-image: url(/static/assets/images/pc-gaming-pc.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-sidebar {
  padding: 70px 0 70px 0;
}

#email-link {
  color: var(--global-color-white) !important;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: var(--global-color-black);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #058cf3;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-content {
  padding: 20px;
  min-height: 460px;
}

textarea {
  color: var(--global-color-black);
}
.gedf-wrapper {
  margin-top: 0.97rem;
}
/* ############################################ */
/* Platform View */
/* ############################################ */

.platform-container {
  text-align: center;
  color: var(--global-color-white);
}

.platform-title {
  font-size: 5rem;
}

.platform-list {
  font-size: 3rem;
  color: var(--global-color-yellow);
}

/* ############################################ */
/* Search View */
/* ############################################ */

.search-results-container {
  text-align: center;
  color: var(--global-color-white);
  background-image: url(/static/assets/images/ghosts.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0px 500px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 1px solid var(--global-color-brawndo);
}

.search-add-game {
  font-size: 2rem !important;
  color: var(--global-color-yellow);
}

.search-result {
  font-size: 4rem;
  color: var(--global-color-yellow);
}

.search-results-title {
  font-size: 6rem;
}

/* ############################################ */
/* FOOTER */
/* ############################################ */

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: var(--global-color-background);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.about-us {
  color: var(--global-color-white);
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
  color: var(--global-color-white);
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
    color: var(--global-color-white);
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--global-color-white) fff66;
  margin: 0 8px;
  color: var(--global-color-white);
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
  color: var(--global-color-white) !important;
}

.id_avatar {
  background-color: var(--global-color-white) !important;
}

/* ############################################ */
/* Forms */
/* ############################################ */

.signup-form-container {
  background-image: url(assets/images/Nintendo_Wallpaper.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3rem;
}

.login-form-container {
  background-image: url(assets/images/tronish.jpeg);
  background-size: cover;
  font-size: 3rem;
}

.signup-form-link {
  color: #face02 !important;
  font-size: 2rem;
}

form {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  width: 400px;
  height: auto;
  overflow: hidden;
  color: var(--global-color-white);
  border-radius: 10px;
}

form input {
  margin: 15px 0;
  padding: 15px 10px;
  width: 100%;
  color: var(--global-color-black);
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

input[type="submit"] {
  width: 300px;
  /* background: #1abc9c; */
  background-color: var(--global-color-brawndo);
  border: none;
  color: var(--global-color-white);
  cursor: pointer;
  display: inline-block;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

input[type="submit"]:active {
  opacity: 0.4;
}

.add-post-title {
  text-align: center;
  font-size: 8rem;
}

.add-post-form-container {
  background-image: url(assets/images/evil_pacattack.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3rem;
}

/* ############################################ */
/* HomePage */
/* ############################################ */

.user-box {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.landing-template {
  color: white;
  text-align: center;
}

.landing-profile-view {
  color: white;
  border: 1px solid var(--global-color-white);
  width: fit-content;
  background-color: var(--global-color-background);
  padding: 10px;
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 4px;
}

.landing-profile-view > p {
  color: var(--global-color-white);
}

.small-posts-box {
  color: var(--global-color-white);
}

.small-posts-box > p {
  color: var(--global-color-white);
}

.small-users-box {
  color: var(--global-color-white);
}

.posts-div {
  color: var(--global-color-white);
  border: 1px solid var(--global-color-white);
  width: 100%;
  background-color: var(--global-color-background);
  margin-top: 10px;
  margin-right: 2px;
}

.posts-div-2 {
  color: var(--global-color-white);
  border: 1px solid var(--global-color-white);
  background-color: var(--global-color-background);
  width: 50%;
  text-align: left;
  padding-left: 25px;
  margin-right: 2px;
  margin-left: 2px;
}

.homepage-title {
  color: var(--global-color-yellow);
}

.bottom-div {
  text-align: center !important;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#home-post {
  color: var(--global-color-white);
}

.no-recent {
  font-size: 40px;
}

.landing-games-list {
  color: var(--global-color-white);
}

/* ############################################ */
/* Comments */
/* ############################################ */

.comment {
  margin: 20px 0px 20px 20px;
}

/* ############################################ */
/* Error Pages */
/* ############################################ */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

#error-containter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--global-color-white);
  margin: auto;
  width: 50%;
  padding-top: 1.75em;
}

.four04 {
  color: #337ab7;
  font-size: 35rem;
  letter-spacing: 0.1em;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 #00000040;
  white-space: nowrap;
}

.red-404 {
  color: red;
}

.ghost {
  animation: spooky 1.5s alternate infinite linear;
  color: var(--global-color-yellow);
  display: inline-block;
}

@keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }

  to {
    transform: translatey(-0.15em);
  }
}
