{% extends "base.html" %} {% block content %}
<div class="container" id="error-containter">
  <h1 class="four04">
    4<span class="ghost"><i class="fas fa-ghost"></i></span>4
  </h1>
  <h2 class="not-found">
    Error: <span class="red-404">404</span> page not found
  </h2>
  <p>
    Sorry, the page you're looking for cannot be accessed, please drink a
    verification can and return home.
  </p>
  <div class="error-actions">
    <a href="/" class="btn btn-primary btn-lg"> Teleport Me Back Home </a>
  </div>
</div>
{% endblock %}
