{% extends "base.html" %} {% block content %}

<div class="error-container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>500</h1>
        <h2>Internal Server Error</h2>
        <div class="error-details">
          It's not you its us. Please try again in a little bit.
        </div>
        <div class="error-actions">
          <a href="http://localhost:8000/" class="btn btn-primary btn-lg">
            Teleport Me Back Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
