{% extends "base.html" %} {% block content %}

<div className="game-view-container">
  <div class="row">
    <div class="col-md-12">
      <div class="games-template">
        <h1>view all games</h1>
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %} {{search}}
          <input type="submit" value="Search" />
        </form>
        <!-- Temp HR  -->
        <hr />
        Don't see the game you are looking for? <a href="/newGame/">add new game</a>
        {% for items in games %}
        <li>
          <img src="{{items.cover_art.url}}" width="100px" height="100px"/>
          <a href="/viewGames/{{items.id}}"> {{ items.title.title }}<br /> </a>
          platform:
          <a href="/viewGames/platform/{{items.platform}}"
            >{{items.get_platform_display}}</a>
          
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
