{% extends "base.html" %} {% block content %}
<div class="container-img">
  <br />
  <div class="testing">
    <div class="container">
      <div class="row profile">
        <div class="col-md-3">
          <div class="profile-sidebar" style="background-color: #b3b3b3">
            <h1 class="user-list-title">View online users</h1>
            <div class="user-list-container">
              <br />
              {% for items in user %}
              <div>
                <a class="online-users" href="/user/{{items.id}}">
                  {{items.username}}
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 class="user-list-title">View all users</h1>
    <div class="user-list-container">
      <br />
      {% for items in user %}
      <div>
        <a class="online-users" href="/user/{{items.id}}">
          {{items.username}}
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</div>
