{% extends "base.html" %} {% block content %}

<div class="game-info-container">
  <div class="row">
    <div class="col-md-12">
      <div class="game-info-template">
        <h1 class="game-title-detail">{{game.title}}</h1>
        <span class="platform-detail-title">On: {{platform}}</span>
        <br />
        <a href="/user/{{user.id}}/" id="game-feed-title" class="game-detail"
          >Posted by: {{user.username}}</a
        >
        <br />
        <img src="{{game.cover_art.url}}" />
        <div class="game-detail">
          About {{game.title}}: <br />
          {{game.description}}
        </div>
        <a href="/favorite_game/{{game.id}}">
          <input type="submit" value="Favorite" />
        </a>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
</div>

{% endblock %}
