{% extends "base.html" %} {% block content %}
<div className="container">
  <div class="row">
    <div class="col-md-12">
      <div class="landing-template">
        <div class="user-box">
          <div class="landing-profile-view">
            <h1 class="homepage-title">{{user.username}}</h1>
            {% if user.avatar %}
            <img
              src="{{user.avatar.url}}"
              alt=" User Avatar"
              width="100"
              height="100"
              style="border-radius: 50%"
            />
            {% else %}
            <img
              src="https://vectorified.com/images/facebook-no-profile-picture-icon-26.jpg"
              alt=" User Avatar"
              width="100"
              height="100"
            />
            {% endif %}
            <p>Email: {{user.email}}</p>
            <p>Platform: {{user.platform_choice_field}}</p>
            <p class="about-me">About Me: {{user.bio}}</p>
          </div>
          <div class="posts-div">
            <h4 class="homepage-title">Your Most Recent Posts</h4>
            {% if posts %} {% for post in posts %}
            <div class="small-posts-box">
              <li>
                <a id="home-post" href="posts/{{post.id}}">{{post.topic}}</a>
              </li>
            </div>
            {%endfor%} {% else%}
            <p class="no-recent">You haven't made any post yet... 🥺</p>
            <p> <a class="no-recent1" href="/post/add/">Create you own post! 💪</a>
            {% endif %}
          </div>
        </div>
        <div class="bottom-div">
          <div class="posts-div-2">
            <h4 class="homepage-title">New Gamrs</h4>
            {% for users in users_list %}
            <div class="small-users-box">
              <p>
                <a href="/user/{{users.id}}/" id="game-feed-title"
                  >{{users.username}}</a
                >
                Plays On:
                <a
                  class="landing-games-list"
                  href="/viewGames/platform/{{users.platform_choice_field}}/"
                  >{{users.platform_choice_field}}</a
                >
              </p>
            </div>
            {%endfor%}
          </div>
          <div class="posts-div-2">
            <h4 class="homepage-title">Suggested Game</h4>
            {% if games %} {% for game in games %}
            <div class="landing-games-list">
              <a>
                <p>
                  <img
                    src="{{game.cover_art.url}}"
                    alt="Game Cover Art"
                    width="150"
                    height="150"
                  />
                  &nbsp;
                  <a class="landing-games-list" href="viewGames/{{game.id}}"
                    >{{game.title}}</a
                  >
                  -
                  <a
                    class="landing-games-list"
                    href="viewGames/platform/{{game.platform}}/"
                  >
                    {{game.get_platform_display}}</a
                  >
                </p>
                {%endfor%}
              </a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
