<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GF</title>
</head>

<body>
    <h1>GameFaqs</h1>
    <p>Hey there, {{user.username}} welcome to GameFaqs!</p>
    <p>Check out our most recent posts!</p>
    <p>(CODE BLOCK FOR POSTS SORTED BY DATE)</p>

    <p>Recent Users</p>
    <p>(CODE BLOCK FOR USERS SORTED BY DATE)</p>
</body>

</html>