{% extends "base.html" %} {% block content %}


{% load bootstrap4 %}


{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% bootstrap_messages %}
<div className="landingpage">
  <div class="row">
    <div class="col-md-12">
      <div class="landing-template">
        <h1>GameFaqs</h1>
        <div>
          {% if user.avatar %}
          <img src="{{user.avatar.url}}" alt=" User Avitar" width="100" height="100">
          {% else %}
          <img src="https://vectorified.com/images/facebook-no-profile-picture-icon-26.jpg" alt=" User Avitar"
            width="100" height="100">
          {% endif %}
          <p>{{user.username}}</p>
          <p>{{user.email}}</p>
          <p>{{user.platform}}</p>
        </div>
        <p>Hey there, {{user}} welcome to GameFaqs!</p>
        <p>Check out our most recent posts!</p>
        <p>(CODE BLOCK FOR POSTS SORTED BY DATE)</p>
        <p>Games</p>
        {% for game in games %}
        <div>
          {{game.cover_art}}
          {{game.title}}
          {{game.platform}}
          <hr>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>

{% endblock %}