<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GF</title>
</head>

<body>
    <div>
        <button onclick="window.location.href='/';">Home</button>
        <button onclick="window.location.href='/profile';">Profile</button>
        <button onclick="window.location.href='/games';">Games</button>
        <button onclick="window.location.href='/platforms';">Platforms</button>
        <button onclick="window.location.href='/post';">Post</button>
    </div>
</body>

</html>