{% extends "base.html" %} {% block content %}
<div class="platform-container">
  <div class="row">
    <div class="col-md-12">
      <div class="platform-template">
        <h1 class="platform-title">Games on:</h1>
        {% for items in games %}
        <li>
          <a class="platform-list" href="/viewGames/{{items.id}}">
            {{items.title.title}} - {{items.get_platform_display}}
          </a>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
