{% extends "base.html" %} {% block content %}

<div className="post-detail-container">
  <div class="row">
    <div class="col-md-12">
      <div class="post-detail-template">
        <h1>{{ object.topic }}</h1>
        <h2>{{ object.game }}</h2>
        <p>{{ object.text }}</p>
        <img src="{{object.thumbnail.url}}" />
        <p>Poster: {{ object.user_posted }}</p>
        <p>Published: {{ object.post_date }}</p>
      </div>
    </div>
  </div>
</div>
<hr />
<a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}"
  >Add comment</a
>
{% for comment in post.comments.all %}
<div class="comment">
  <div class="date">{{ comment.created_date }}</div>
  <strong>{{ comment.author }}</strong>
  <p>{{ comment.text|linebreaks }}</p>
</div>
{% empty %}
<p>No comments here yet :(</p>
{% endfor %} {% endblock %}
