{% extends "base.html" %} {% block content %}
<br />
<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="gamr-card">
        <div class="card-body">
          <div class="card-title">GAMR Community</div>
          <div class="card-subtitle">Connect, Share, Play</div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted" id="gamr">Posts by Gamrs</div>
            <div class="h5" id="gamr-count">96</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted" id="gamr">Online Members</div>
            <div class="h5" id="gamr-count">7</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted" id="gamr">Game Guides</div>
            <div class="h5" id="gamr-count">240</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 gedf-main">
      <div class="card gedf-card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="game-tab" href="/post/add/" role="tab">Make a Post</a>
            </li>
          </ul>
        </div>
        <div class="post-feed">
          <ul>
            {% for post in object_list %}
            <li class="game-feed-li">
              <a href="/posts/{{post.id}}" id="game-feed-title">{{ post.topic }}</a>
              -
              <span class="comments-title-1"><a href="{% url 'post_detail' pk=post.id %}" id="game-feed-title">Comments:
                  {{ post.comments.count }}</a>
              </span>
              <a href="/user/{{user.id}}/" id="game-feed-title">by: {{post.user_posted}}</a>
              <span class="post-date">- @{{ post.post_date }}</span>
            </li>
            {% empty %}
            <li>
              No posts yet.<a href="/post/add/">Be the First! {% endfor %} </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}