{% extends "base.html" %} {% block content %}
<div className="post-detail-container">
  <div class="row">
    <div class="col-md-12">
      <div class="post-detail-template">
        <h1 class="post-title">Topic: {{ object.topic }}</h1>
        <p>Poster: {{ object.user_posted }}</p>
        <h2>{{ object.game }}</h2>
        <img
          src="{{object.thumbnail.url}}"
          alt="post thumbnail"
          height="500px"
          width="500px"
        />
        <p class="post-text">{{ object.text }}</p>
        <p class="date">Published: {{ object.post_date }}</p>
      </div>
    </div>
  </div>
</div>
<div class="comment-container">
  {% if user.is_authenticated %}
  <a class="btn btn-warning" href="{% url 'add_comment_to_post' pk=post.pk %}"
    >Leave your comment</a
  >
  {% else %}
  <p>
    You must be logged in to leave a comment <br /><a
      class="login-here"
      href="/login/"
      >Login Here</a
    >
    --
    <a class="signup-here" href="/singup/">Signup Here</a>
  </p>
  {%endif%}
  <hr />
  {% for comment in post.comments.all %} {%if comment.thumbnail%}
  <img
    src="{{comment.thumbnail.url}}"
    alt="comment thumbnail"
    height="100px"
    width="100px"
  />
  {%endif%}
  <div class="comment">
    <span class="author"
      ><strong
        ><a href="/user/{{comment.author_id}}">{{comment.author}}</a></strong
      ></span
    >
    <span class="comment-text" style="color: #fff">
      <p>{{ comment.text|linebreaks }}</p>
    </span>

    <div class="date">{{ comment.created_date }}</div>
    <hr />
  </div>
  {% empty %}
  <p>Claim Firsties!</p>
</div>
{% endfor %} {% endblock %}
