{% extends "base.html" %} {% block content %}

<body>
  <br />
  <div class="container-img">
    <div class="container">
      <div class="row profile">
        <div class="col-md-3">
          <div class="profile-sidebar" style="background-color: #b3b3b3">
            <!-- SIDEBAR USERPIC -->
            <!-- #####TODO make avatar###### -->
            <div class="profile-userpic">
              <!-- <div class="img-responsive">{{user.avatar}}</div> -->
              <img src="{{user.avatar.url}}" class="img-responsive" alt="aavi" />
            </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">{{user.username}}</div>
              <div class="profile-usertitle-job">{{user.fullname}}</div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR BUTTONS -->
            <div class="profile-userbuttons">
              <!-- ##### TODO proper follow link ###### -->
              <button type="button" class="btn btn-success btn-sm" href="/follow/1">
                Follow
              </button>
              <!-- Non-functional, Style Purposes only -->
              <button type="button" class="btn btn-danger btn-sm">
                Message
              </button>
            </div>

            <div class="portlet light bordered">
              <!-- STATS -->
              <div class="row list-separated profile-stat">
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title">1,187</div>
                  <div class="uppercase profile-stat-text">Posts</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title">21,956</div>
                  <div class="uppercase profile-stat-text">Followers</div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                  <div class="uppercase profile-stat-title">3856</div>
                  <div class="uppercase profile-stat-text">Follows</div>
                </div>
              </div>
              <!-- END STATS -->
              <div>
                <h4 class="profile-desc-title">{{user.username}}'s Bio:</h4>
                <span class="profile-desc-text"> {{user.bio}} </span>
              </div>
            </div>
          </div>
        </div>
        <!-- #####TODO STRETCH GOAL add most recent posts for who evers profile you are viewing.##### -->
        <div class="col-md-9" style="background-color: #b3b3b3">
          <div class="profile-content" style="background-color: #b3b3b3">
            Most Recent Posts
          </div>



        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</body>